name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

permissions:
  contents: write # 必须：授予创建 Release 的写权限

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build and Release
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release Binary
        # 这里的 binary_name 需替换为你 Cargo.toml 中的 name
        run: cargo build --release --verbose

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          # 指定要上传的文件路径
          # 注意：Linux 下默认生成在 target/release/ 下
          # 如果是 Windows 则是 target/release/xxx.exe
          files: ./target/release/zstar
          
          # 可选：是否生成 Release Notes (默认 true)
          generate_release_notes: true
